{%- comment -%}
  Include vars:
	title
  subtitle
	photo
	photo-alt
	auto-header
	content
{%- endcomment -%}

{%- assign _title = include.title | default: 'Untitled' -%}
{%- assign _slug = include.title | strip_html | slugify | default: 'untitled' -%}

{%- if include.photo and include.photo-alt -%}
	{%- capture _photo -%}
      <img src="{{- include.photo | relative_url -}}" alt="{{- include.photo-alt -}}" {% unless include.photo == 'assets/images/banner.webp' %} class="back" {% else %} class="back blurBrightness" {% endunless %}>
	{%- endcapture -%}
	{%- assign _class = 'shade-one cover dark' -%}
{%- else -%}
	{%- assign _photo = '' -%}
	{%- capture _class -%}shade-{%- cycle 'two', 'three', 'four', 'three' -%}{%- endcapture -%}
{%- endif -%}

{%- if include.auto-header == 'none' -%}
	{%- assign _heading = "" -%}
{%- else -%}
	{%- capture _heading -%}
		{%- if include.layout == 'post' -%}
      <header class="postsList__item__container__header">
        <h2 class="postsList__item__container__header__h2 h2">
    {%- else -%}
      <header>
        <h2 class="h2">
    {%- endif -%}
        {%- if include.auto-header == null or include.auto-header == 'use-title' -%}
          {{- _title -}}
        {%- else -%}
          {{- include.auto-header -}}
        {%- endif -%}
      </h2>
      {%- if include.subtitle && include.layout == 'post' -%}
        <p class="postsList__item__container__header__date p">{{- include.subtitle | split: " | " | last -}}</p>
      {%- else if include.subtitle -%}
        <p class="subtitle">{{- include.subtitle -}}</p>
      {%- endif -%}
		</header>
	{%- endcapture -%}
{%- endif -%}

{%- if include.layout == 'post' -%}
  {%- assign _containerClass = 'container postsList__item__container' -%}
  {%- assign _content = include.content | truncate: 150 -%}
  <article id="{{- _slug -}}" class="{{- _class | prepend: 'postsList__item ' -}}">
    {%- if include.photo -%}
      <img class="postsList__item__img" src="{{- include.photo | relative_url -}}" alt="{{- include.title | strip_html | prepend: 'Illustration du post '-}}">
    {%- endif -%}
{%- else -%}
  {%- assign _containerClass = 'container' -%}
  {%- assign _content = include.content -%}
  <section id="{{- _slug -}}" class="{{- _class -}}">
{%- endif -%}
    <div class="{{- _containerClass -}}">
    {{- _photo -}}
    {{- _heading -}}
    {{- _content -}}
  </div>
{%- if include.layout != 'post' -%}
</section>
{%- else -%}
</article>
{%- endif -%}
