header {
	margin: 0 0 2em;

	> p {
		margin: 1em 0 0;
	}
}

#header {
	@include vendor('display', 'flex');
	@include vendor('flex-direction', 'column');
	@include vendor('justify-content', 'space-between');
	background: #222629 url("images/overlay.png");
	box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
	color: #fff;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	text-align: right;
	top: 0;
	width: 375px;

	.top {
		@include vendor('flex-grow', '1');
	}

	.bottom {
		@include vendor('flex-shrink', '0');
		padding: 1.5em 0 0.75em;

		> :last-child {
			margin-bottom: 0;
		}
	}

	.icons {
		font-size: 0.8em;
		text-align: center;

		a {
			color: #41484c;
			@include vendor('transition', 'color 0.35s ease-in-out');

			&:hover {
				color: #fff;
			}
		}
	}
	
	// Show ::before icons on hover
	a:hover {
		-webkit-text-fill-color: unset;
		color: #beba21;
	}
}

#headerToggle {
	display: none;
}
