---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main" class="main">
	<article class="blog-intro">
		<p>Voici ci-dessous le contenu de mon blog, classé par date de parution.</p>
		<p>Vous y trouverez des articles sur mon amour des jeux vidéos et de la littérature, des critiques de films plus ou moins bons et d'une manière générale un peu tout ce qui me passe par la tête et que j'ai voulu mettre par écrit.</p>
		<p>Bonne lecture !</p>
	</article>
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content layout=page.layout-%}
	{%- endif -%}
	<!-- Posts List -->
	<span class="postsList flex">
	{%- for _post in _posts -%}
		{%- capture _title -%}
			<a class="link" href="{{- _post.url | relative_url -}}">{{- _post.title -}}</a>
		{%- endcapture -%}
		{%- capture _subtitle -%}
			{% if _post.author -%}{{- _post.author }} | {% endif %}
			{{- _post.date | date_to_long_string -}}
		{%- endcapture -%}
		{%- capture _excerpt -%}<p>{{- _post.description | truncatewords: 100 | default: _post.content | truncatewords: 50 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a class="link" href="{{- _post.url | relative_url -}}">plus</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}
		{%- include section.html title=_title subtitle=_subtitle content=_content layout=_post.layout photo=_post.image-%}
	{%- endfor -%}
	</span>
</div>
