---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two noPadding flex column justifyCentered">
		{% if page.cover-photo & page.cover-photo-alt %}
			<img class="postCover relative" src="{{ page.cover-photo | relative_url }}" alt="{{ page.cover-photo-alt }}">
		{% endif %}
	  <div class="container postContainer relative">
			<header>
				<h2 class="textCentered">{{- page.title -}}</h2>
				<p class="textCentered">{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>
