---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main" class="main">
	<!-- Post -->
	<article class="shade-two noPadding flex column justifyCentered">
		{% if page.image %}
			<div class="postCover relative" style="background-image: url({{ page.image | relative_url }});"></div>
		{% endif %}
	  <div class="container postContainer relative textJustified flex">
			<header>
				<h2 class="h2 textCentered">{{- page.title -}}</h2>
				<p class="textCentered">{% if page.author %}{{ page.author }}, {% endif %} publié le {{ page.date | date_to_long_string }} {% if page.updateDate %} - mis à jour le {{ page.updateDate | date_to_long_string }}{% endif %}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>
