.blurBrightness {
  filter: blur(3px) brightness(0.60);
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.justifyCentered {
  justify-content: center;
}

.link {
  @include link;
}

#main > .shade-two.noPadding {
  padding: 0;
}

.postContainer {
  z-index: 2;
  margin-top: -5em;
  padding: 2em;
  background: $white-bg;
  width: 85%;
  border-radius: 0.5em 0.5em 0 0;
  flex-direction: column;

  & iframe {
    align-self: center;
  }
}

.postCover {
  z-index: 1;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  top: -5vh;
}

.relative {
  position: relative;
}

.textCentered {
  text-align: center;
}

.textJustified {
  text-align: justify;
}

.paddingBottom1 {
  padding-bottom: 1em;
}
