.blurBrightness {
  filter: blur(3px) brightness(0.60);
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.justifyCentered {
  justify-content: center;
}

.link {
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,29,1) 25%, $yellow 50%);
  text-decoration: none;
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  background-size: cover;

  &:hover {
    color: $yellow;
    background-position: 0 0.9em;
    transition: 300ms background-position;
  }
}

#main > .shade-two.noPadding {
  padding: 0;
}

.postContainer {
  z-index: 2;
  margin-top: -5em;
  padding: 2em;
  background: $white-bg;
  width: 85%;
  border-radius: 0.5em 0.5em 0 0;
  flex-direction: column;

  & iframe {
    align-self: center;
  }
}

.postCover {
  z-index: 1;
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  top: -5vh;
}

.relative {
  position: relative;
}

.textCentered {
  text-align: center;
}

.textJustified {
  text-align: justify;
}
